.weather{
    text-align: center;
  
 
  
}


.temp{
    
    font-weight: bold;
    
}
.cityName{
    font-weight: bold
}
.Citys button{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 15%;
}
.Days div{
    display: inline-grid;
   padding: 30px;
    
}
.wraper{
    text-align: center;
}